* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, "system-ui", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
/* ------------------Navigation bar start -------------------*/

#logo > img {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  align-self: center;
}
.nav {
  background-color: #e42529;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
}

input[type="text"] {
  border: none;
  width: 70%;
  border-radius: 20px 0px 0px 20px;
  padding: 5px;
  outline: none;
  margin-top: 29px;
  font-weight: 300;
  overflow-wrap: break-word;
}
button[type="submit"] {
  background-color: rgb(255, 254, 254);
  width: 22%;
  padding: 5px;
  position: relative;
  left: -10px;
  outline: none;
  border: none;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(5, 5, 5);
  color: white;
}

button[type="submit"]:hover {
  background-color: rgb(255, 183, 0);
  color: red;
}

.restOption a {
  text-decoration: none;
  color: #feffff;
  margin-right: 15px;
  display: block;
}

.restOption > div {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
}

.restOption img {
  width: 13px;
  margin-right: 5px;
}

/* ------------------Navigation bar end -------------------*/

/* <!--------------------------- slider bar start for Banner ----------------> */

/* 
 

<!--------------------------- slider bar start for Banner ----------------> */

.slider {
 
  width: 100%;
  position: relative;
}

.slider > img {
  width: 100%;
}

#prev,
#next {
  background-color:#ffffff;
  border: .5px solid grey;
  opacity: .4;
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 30px 10px 30px 10px;
  color:#000000;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* ------------------Slider bar start -------------------*/

 .product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}  

/* ------------------Slider bar end -------------------*/




/* ------------------footer start-------------------*/
#footer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  line-height: 32px;
  background-color: #003380;
  color: white;
}

#footer ul{
list-style-type: none;
}
#footer a{
  color: white;
  text-decoration: none;
}
/* ------------------footer end-------------------*/