* {
  margin: 0px;
  padding: 0px;
}

/* ------------------Navigation bar start -------------------*/

#logo > a > img {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  align-self: center;
}

.nav {
  background-color: #e42529;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  font-family: Roboto, "system-ui", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

#searchBar input[type="text"] {
  border: none;
  width: 70%;
  border-radius: 20px 0px 0px 20px;
  padding: 7px;
  outline: none;
  margin-top: 29px;
  font-weight: 300;
  overflow-wrap: break-word;
}

#searchBar input:focus {
  outline: none;
  border-color: #6ee3fd;
  box-shadow: 0 0 10px #fdec6e;
}

#searchBar button[type="submit"] {
  background-color: rgb(255, 254, 254);
  width: 22%;
  padding: 7px;
  position: relative;
  left: -10px;
  outline: none;
  border: none;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(170, 166, 166);
  color: rgb(0, 0, 0);
}

#searchBar button[type="submit"]:hover {
  /* background-color: rgb(255, 183, 0); */
  color: red;
  outline: none;
  border-color: #fdec6e;
  box-shadow: 0 0 10px #fdec6e;
}

.restOption a {
  text-decoration: none;
  color: #feffff;
  margin-right: 15px;
  display: block;
}

.restOption a:hover {
  color: #fdec6e;
  text-shadow: 0 0 10px #0026ff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.restOption > div {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
  padding: 5px;
}

.restOption img {
  width: 13px;
  margin-right: 5px;
}

/* ------------------Navigation bar end -------------------*/

/* <!--------------------------- slider bar start for Banner ----------------> */

/* 
 

<!--------------------------- slider bar start for Banner ----------------> */

.slider {
  width: 100%;
  position: relative;
}

.slider > img {
  width: 100%;
}

#prev,
#next {
  background-color: #ffffff;
  border: 0.5px solid grey;
  opacity: 0.4;
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 30px 10px 30px 10px;
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider1 {
  width: 100%;
  position: relative;
  margin-top: -2%;
}

.slider1 > img {
  width: 100%;
}

#prev1,
#next1 {
  background-color: #ffffff;
  border: 0.5px solid grey;
  opacity: 0.4;
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 30px 10px 30px 10px;
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* ------------------Slider bar start -------------------*/

/* span */
.digital {
  font-size: 25px;
  font-weight: lighter;
  margin-left: 20px;
}

/* span anchor tag */
.digital a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* horizontal line */
.horizontal {
  color: grey;
  margin-bottom: 2%;
}

.swiper {
  width: 100%;
  text-align: center;
  /* border: 1px solid red; */
}

.swiper-pagination {
  height: 7px;
  width: 26px;
  border-radius: 25px;
}

.swiper-slide {
  /* border: solid black; */
  text-align: center;
  color: grey;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-top: 2%;
  margin-bottom: 2%;
}

.swiper-slide .image img {
  width: 70%;
}

.swiper-slide .button button {
  color: rgb(40, 118, 40);
  background-color: rgb(178, 215, 178);
  border-radius: 10px;
  border: none;
  padding: 3px;
}

/* sliders end  */

.mySwiper {
  width: 100%;
  justify-content: center;
}
.swiper-slide {
  /* border: 1px solid blue; */
  text-align: left;
  line-height: 25px;
  padding: 0px 0px 0px 10px;
}

.image {
  width: 100;
  text-align: center;
}

.title {
  color: #2a5595;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffff;
  padding: 10px 0px 10px 0px;
}

.swiper-wrapper {
  width: 50%;
}

.enter {
  margin-left: 22px;
  font-size: 25px;
  font-weight: lighter;
}

.entertainment {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-weight: lighter;
}
.entertainment > div {
  width: 23%;
}

.entertainment > div > img {
  width: 100%;
}

.entertainment-2 {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.entertainment-2 > div {
  width: 23%;
}

.entertainment-2 > div > img {
  width: 100%;
}

/* ------------------Slider bar end -------------------*/
.brand-promise p {
  font-size: 20px;
  color: navy;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
}

.brand {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.brand > div {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.brand > div .large {
  font-size: 15px;
  color: navy;
}

.brand > div .small {
  font-size: 10px;
  color: grey;
}

.personal-care {
  display: flex;
  justify-content: space-evenly;
}

.personal-care > div:first-child img {
  width: 70%;
  margin-left: 4%;
  margin-top: 16vh;
}

/* ------------------footer start-------------------*/
/* ------------------footer start-------------------*/

footer {
  background-color: #003380;
}

#footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  line-height: 32px;
  background-color: #003380;
  color: white;
  margin-top: 100px;
  padding: 20px 0px 0px 0px;

}

#footer ul {
  list-style-type: none;
  font-size: medium;
}

#footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}

#footer a:hover {
  border-bottom: 1px solid rgb(250, 255, 250);
}

#footerSocial {
  display: flex;
  margin: auto;
  margin-top: 40px;
  line-height: 30px;
  width: 95%;
}

#footerSocial > div:nth-child(1) {
  width: 30%;
  padding-left: 40px;
  color: whitesmoke;
}

#footerSocial > div:nth-child(2) {
  width: 70%;
  color: whitesmoke;
}

.image-icon {
  height: 35px;
  margin-bottom: 20px;
}

.socialmedialogo {
  height: 15px;
  margin-right: 10px;
}

#footorlogo > a > img {
  width: 40%;
  margin-left: 0px;
}

#bottom {
  text-align: center;
  font-weight: 200;
  background-color: #0a244a;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

#bottom > p {
  width: 90%;
  margin: auto;
  padding: 15px;
  font-family: system-ui;

  font-weight: lighter;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(210, 187, 187);
}

/* ------------------footer end-------------------*/

/* ------------------footer end-------------------*/

/*  */