* {
  margin: 0px;
  padding: 0px;
}

/* ------------------Navigation bar start -------------------*/

#logo > a > img {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  align-self: center;
}

.nav {
  background-color: #e42529;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  font-family: Roboto, "system-ui", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

#searchBar input[type="text"] {
  border: none;
  width: 70%;
  border-radius: 20px 0px 0px 20px;
  padding: 7px;
  outline: none;
  margin-top: 29px;
  font-weight: 300;
  overflow-wrap: break-word;
}

#searchBar input:focus {
  outline: none;
  border-color: #6ee3fd;
  box-shadow: 0 0 10px #fdec6e;
}

#searchBar button[type="submit"] {
  background-color: rgb(255, 254, 254);
  width: 22%;
  padding: 7px;
  position: relative;
  left: -10px;
  outline: none;
  border: none;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(170, 166, 166);
  color: rgb(0, 0, 0);
}

#searchBar button[type="submit"]:hover {
  /* background-color: rgb(255, 183, 0); */
  color: red;
  outline: none;
  border-color: #fdec6e;
  box-shadow: 0 0 10px #fdec6e;
}

.restOption a {
  text-decoration: none;
  color: #feffff;
  margin-right: 15px;
  display: block;
}

.restOption a:hover {
  color: #fdec6e;
  text-shadow: 0 0 10px #0026ff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.restOption > div {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
  padding: 5px;
}

.restOption img {
  width: 13px;
  margin-right: 5px;
}

/* ------------------Navigation bar end -------------------*/


/* ------------------footer start-------------------*/

footer {
  background-color: #003380;
}

#footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  line-height: 32px;
  background-color: #003380;
  color: white;
  margin-top: 100px;
  padding: 20px 0px 0px 0px;

}

#footer ul {
  list-style-type: none;
  font-size: medium;
}

#footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}

#footer a:hover {
  border-bottom: 1px solid rgb(250, 255, 250);
}

#footerSocial {
  display: flex;
  margin: auto;
  margin-top: 40px;
  line-height: 30px;
  width: 95%;
}

#footerSocial > div:nth-child(1) {
  width: 30%;
  padding-left: 40px;
  color: whitesmoke;
}

#footerSocial > div:nth-child(2) {
  width: 70%;
  color: whitesmoke;
}

.image-icon {
  height: 35px;
  margin-bottom: 20px;
}

.socialmedialogo {
  height: 15px;
  margin-right: 10px;
}

#footorlogo > a > img {
  width: 40%;
  margin-left: 0px;
}

#bottom {
  text-align: center;
  font-weight: 200;
  background-color: #0a244a;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

#bottom > p {
  width: 90%;
  margin: auto;
  padding: 15px;
  font-family: system-ui;

  font-weight: lighter;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(210, 187, 187);
}

/* ------------------footer end-------------------*/