/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5d0ff8; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(231, 23, 23); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(74, 74, 70); 
}